        <footer class="footer">
            <div class="content has-text-centered">
                <p><strong>Topist</strong> by <a href="https://github.com/EOussama">Oussama Essamadi</a>.</p>
                <a href="https://github.com/EOussama/topist" class="button">
                    <span class="icon is-medium">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>
                        Project Source Code
                    </span>
                </a>
            </div>
        </footer>

        <script src="/scripts/main.js"></script>
        <script src="/scripts/topist.js"></script>
    </body>
</html>