<!-- The footer's partial. -->

<footer class="footer">
    <div class="content has-text-centered">

        <!-- The footer's text. -->
        <p>
            <strong>Topist</strong> by <a href="https://github.com/EOussama">Oussama Essamadi</a>.
        </p>

        <!-- The source code link. -->
        <a href="https://github.com/EOussama/topist" class="button">
            <span class="icon is-medium">
                <i class="fab fa-github"></i>
            </span>
            <span>Project Source Code</span>
        </a>
    </div>
</footer>

<!-- The main script. -->
<script src="/assets/js/main.js"></script>

<!-- The topist's control script. -->
<script src="/assets/js/topist.js"></script>
</body>

</html>