<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
		<meta name="author" content="EOussama">
		<meta name="application-name" content="Topist">
		<meta name="description" content="A welcoming platform for all of those professional and silly TOP X lists.">
		<meta name="keywords" content="Website, Topist, Top lists, TOPs">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="./public/images/icon.svg">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<link rel="stylesheet" href="./public/stylesheets/main.css">

		<title>Topist</title>
    </head>
    <body>