<!DOCTYPE html>

<html lang="en">

<head>

	<!-- Meta data. -->
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible"
				content="ie=edge">

	<meta name="author"
				content="EOussama">

	<meta name="application-name"
				content="Topist">

	<meta name="description"
				content="A welcoming platform for all of those professional and silly TOP X lists.">

	<meta name="keywords"
				content="Website, Topist, Top lists, TOPs">

	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">

	<!-- The favicon. -->
	<link rel="icon"
				href="/assets/img/favicon.png">

	<!-- Font Awesome. -->
	<link rel="stylesheet"
				href="/assets/fontawesome/all.min.css">

	<!-- Bulma. -->
	<link rel="stylesheet"
				href="/assets/bulma/bulma.min.css">

	<!-- The main stylesheet. -->
	<link rel="stylesheet"
				href="/assets/css/main.css">

	<!-- The title. -->
	<title>Topist - Page not found</title>
</head>

<body>
	<section class="section topist-list">
		<div class="container">
			<div class="box such-empty">
				<div class="content has-text-centered">

					<!-- Error text. -->
					<h2 class="subtitle has-text-info">
						<span class="icon is-medium">
							<i class="fa fa-frown"></i>
						</span>
						<span>Page not found</span>
					</h2>
					<hr>
					<p>It looks like the page you're referring to doesn't exist!</p>
					<a href="/"
						 class="button is-info">Home page</a>
					<a href="javascript:void(0)"
						 class="button is-info"
						 id="btn-back">Go back</a>
				</div>
			</div>
		</div>
	</section>

	<!-- The main script. -->
	<script src="/assets/js/error.js"></script>
</body>

</html>