<% include ./partials/header.ejs %>

<section class="section topist-list">
    <div class="container">
        <div class="box such-empty">
            <div class="content has-text-centered">
                <h2 class="subtitle has-text-info">
                    <span class="icon is-medium">
                        <i class="fa fa-frown"></i>
                    </span>
                    <span>Page not found</span>
                </h2>
                <hr>
                <p>It looks like the page you're referring to doesn't exist!</p>
                <a href="/" class="button is-info">Home page</a>
                <a href="javascript:void(0)" class="button is-info" onclick="window.history.back()">Go back</a>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer.ejs %>