<% include partials/header.ejs %>

<section class="hero is-info is-bold is-large">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="images/logo.png" alt="Logo">
                    </a>
                    <span id="btn-burger" class="navbar-burger burger" data-target="navbarMenuHeroB">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                    <a class="navbar-item is-active">Home</a>
                    <a class="navbar-item">Users</a>
                    <a class="navbar-item">Login</a>
                    <a class="navbar-item">Register</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
  
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">Topist</p>
            <p class="subtitle">A welcoming platform for all of those professional and silly TOP X lists.</p>
        </div>
    </div>
  
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li class="is-active"><a>Most popular</a></li>
                    <li><a>Most viewed</a></li>
                    <li><a>Oldest</a></li>
                    <li><a>Recent</a></li>
                </ul>
            </div>
        </nav>
    </div>
  </section>

<% include partials/footer.ejs %>