/**
 * The error page's stylesheet.
 */

body {
  overflow: hidden;
}

section {
  border: 1px solid;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100vw;
}

div.box {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 100%);
  width: 600px;
}
