div.topbox {
    align-items: center;
    background-color: hsl(204, 86%, 53%);
    border: 1px solid hsl(217, 71%, 53%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    position: relative;
    width: 100px;
}

div.topbox span.value, div.topbox span.label {
    color: hsl(0, 0%, 96%);
    font-weight: bold;
}

div.topbox span.label {
    position: absolute;
    top: 15%;
    text-transform: uppercase;
}

div.topbox span.value {
    position: absolute;
    top: 20%;
    font-size: 50px;
}