div.box {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
}

div.box:hover {
    background-color: hsl(0, 0%, 96%);
}

div.topbox, div.topbox-pos {
    align-items: center;
    background-color: hsl(204, 86%, 53%);
    border: 1px solid hsl(217, 71%, 53%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    position: relative;
    width: 100px;
}

div.topbox span.value, div.topbox span.label, div.topbox-pos span.value {
    color: hsl(0, 0%, 96%);
    font-weight: bold;
}

div.topbox span.label {
    position: absolute;
    top: 15%;
    text-transform: uppercase;
}

div.topbox span.value, div.topbox-pos span.value {
    font-size: 50px;
    position: absolute;
    top: 20%;
}
div.topbox-pos span.value {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.message a {
    text-decoration: none !important;
    transition-property: color;
    transition-duration: .3s;
}

.message a:hover {
    color: hsl(204, 94%, 87%) !important;
}

.topist-list .card, .topist-list .message {
    margin: auto;
    max-width: 800px;
}