<% include ../partials/header.ejs %>

<section class="section topist-list">
    <div class="container">
        <form id="form-topist">
            <div class="box">
                <h1 class="title">Creating a new Topist</h1>

                <hr>

                <div class="box">
                    <h3 class="subtitle">Topist information</h3>
                    <hr>
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static">TOP</a>
                        </p>
                        <p class="control">
                            <input id="topist-counter" class="input" type="number" value="10" min="3" max="100"
                                required>
                        </p>
                        <p class="control">
                            <input id="topic-title" class="input" type="text" placeholder="*Topic" required>
                        </p>
                    </div>
                    <hr>
                    <textarea id="topic-description" class="textarea" placeholder="Topist description"></textarea>
                </div>

                <hr>

                <div class="box">
                    <h1 class="subtitle">Topist entries</h1>
                    <hr>
                    <div id="topist-entries-entainer"></div>
                </div>

                <hr>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info">Create Topist</button>
                    </div>
                    <div class="control">
                        <button type="reset" class="button is-normal">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<% include ../partials/footer.ejs %>